# Don't ever commit your settings
config.py

# Python remenants
*.pyc
*.pyo

# Standard locations of data and server temporary files
data/examples
data/snippets_3k
data/test_data
data/test_data_3k
data/tutorials
work/
